*{
	text-decoration: none;
	box-sizing: border-box;
	color: #333;
}

body {

	background-color: #B9E28C;
}

h2 {

	margin-top: 10px;
	color: #333;
	text-align: center;
	font-size: 4rem;
}

h3 {

	text-align: left;
}

.about_paragraph h3 {

	padding-left: 70px;
	padding-right: 70px;
	padding-top: 20px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 200%;
	color: #333;

}

.about_paragraph p{

	font-size: 18px;
	color: #333;
	font-weight: 400;
	padding-top: 10px;
	padding-left: 60px;
	padding-right: 10px;
	line-height: 25px;

}

.about_paragraph h2 {

	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 200%;

}

.nav {

	color: #333;
}

h2 a:hover {

	transition-duration: 0.5s;
	color: cornflowerblue;
}

#sticky_con {


	margin-top: 30px;	
	max-width: 800px;
	min-height: 100%;
	width:70%;
	float:left;
	position: sticky;
	top: 0px;


}