*{
	text-decoration: none;
	box-sizing: border-box;
	background-color: #333;
}

h2 {


	transition-duration: 1s;
	margin-top: 10px;
	color: cornflowerblue;
	text-align: center;
	font-size: 4rem;
}

.mail {

	text-align: center;

}

.mail a {

	text-decoration: underline;
}



h3 {

	text-align: center;
	padding-top: 50px;
	font-weight: 600;
	font-size: 150%;
}

.mail a:hover {

	transition: all .3s ease-in-out;
	color: cornflowerblue;
}

.nav {

	color: white;
}

h2 a:hover {
	
	transition-duration: 0.5s, 0.5s;
	color: cornflowerblue;
}

#social_icons {

	width: 100%;
  	margin: 0 auto;
  	text-align: center;
  }


 a {

 	text-align: center;
 }

.fa {

    padding: 20px;
    text-align: center;
    text-decoration: none;
}

/* Adds a hover effect */
.fa:hover {

	color: cornflowerblue;
	transition-duration: 0.5s, 0.5s;
   
}

/* Twitter */
.fa-twitter {
    color: white;
}