@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

*{
	
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html, body { 

	margin: 0;
	height: 100%; 

}

img {

	height: 500px;
	width: 500px;
	border: none;
    display: block;
    margin: 0 auto;

    clip: rect(0px,300px,300px,0px);
}

#wrapper {
            min-height: 100%;
            background-color: #333; 
}

#wrapper_work {

	min-height:40px;
	
	}



h1 {


	padding-top:200px;
	padding-bottom: 100px;
	padding-left: 200px;
	padding-right: 200px;
	margin: 0;
	color: cornflowerblue;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 600%;
	text-align: center;

}

h1 a {

	text-decoration: none;
	color:cornflowerblue;
}

li a:hover {

transition-duration: 0.5s;
color: cornflowerblue;

}

.nav {
	
	text-align:center;
	padding: 0;

}
.nav li {


	transition-duration: 0.5s;
	display:inline-block;

}
.nav a {

	text-decoration:none; 
	padding:0 30px; /* variable width */

}



li a:hover {

color: cornflowerblue;

}

.about_paragraph p{

	color: white;
	font-weight: 200;
	padding-top: 10px;
	padding-left: 60px;
	padding-right: 60px;
	line-height: 20px;

}

.about_paragraph h2 {

	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 200%;

}

#sticky_con {

	margin-top: -16px;
	max-width: 600px;
	background-color: cornflowerblue;
	min-height: 100%;
	width:50%;
	float:left;
	position: sticky;
	top: 0px;


}

.active {

	color:cornflowerblue;

}

#portfolio {
    text-align: center;
    display: block;
    margin: 0 auto;
   
}

.portfolio-content {
    
    overflow: hidden;
    padding: 0;

   

}

.portfolio-content:hover img{




}

div.portfolio-item {
    max-width: 100px;
    line-height: 10;
    text-align: center;
}




