*{
	
	font-family: sans-serif;
	background-color: #333;
}

h1 {

	color: cornflowerblue;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 600%;
	text-align: center;

}

#navigation {

	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #333;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cornflowerblue;
}
