*{
	text-decoration: none;
	box-sizing: border-box;
}

body {

	background-color: #5B507A;

}

h2 {

	margin-top: 10px;
	text-align: center;
	font-size: 4rem;
}

h2 a:hover {

	color: cornflowerblue;
}

.row {

	margin: 0 auto;
	text-align: center;
	width: 90%;
	overflow: auto;
}

div.portfolio {

	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {

	float: left; 
	width: 32%;  
	margin-bottom: 1em;
	position: relative;

}

.responsive:nth-child(2){

	margin:0 2%;
}
/*
.responsive {
    position:relative;
    width:400px;
    height:400px;
}
.responsive img {
    width:100%;
    vertical-align:top;
}

.responsive:hover:after {
    opacity:1;
}*/

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}