*{
	background-color: #333;
	text-decoration: none;
	box-sizing: border-box;
}

h2 {

	margin-top: 10px;
	text-align: center;
	font-size: 4rem;
}

h2 a:hover {

	color: cornflowerblue;
}

div.portfolio {

	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {

	margin: 10px;
    float: left;
    width: 24.99999%;
}

.responsive {
    position:relative;
    width:400px;
    height:400px;
}
.responsive img {
    width:100%;
    vertical-align:top;
}
.responsive:after {
    
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.responsive:hover:after {
    opacity:1;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}